<?xml version="1.0"?>
<!--
/**
 * Copyright © Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- event catalog_product_is_salable_after -->

    <!-- event sales_quote_product_add_after -->
    <event name="sales_quote_product_add_after">
        <observer name="faonni_product_available" instance="Faonni\ProductAvailable\Observer\QuoteObserver"/>
    </event>

</config>
